body {
  background: linear-gradient(90deg, rgb(100, 1, 255) 0%, rgb(139, 252, 254) 100%);
}

nav{
padding: 5px;
} 
 nav ul{
   padding: 0;
 }
 nav ul li{
   display: inline-block;
   margin: 0 10px;
 }
 .book-list{
   padding: 0px;
   list-style-type: none;
 }
 .book-list li{
   padding: 10px;
   margin: 10x auto;
   border-radius: 10px;
 }
 